<div class="container-fluid">
    <div class="container">
        <h2 class="text-white my-3 text-center h1">Articles</h2>
        <ul class="article-list list-group p-0">
            <li class="h2 list-group-item bg-transparent text-white border-0">Click the Scrape News button to get
                articles!</li>
        </ul>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" id="popup-btn" data-toggle="modal" data-target="#popup">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>