<div class="container-fluid">
    <div class="container">
        <h2 class="text-white my-3 text-center h1">Saved Articles</h2>
        <ul class="article-list list-group p-0">
            <li class="h2 list-group-item bg-transparent text-white border-0">Click the Scrape News button to get
                articles!</li>
        </ul>
    </div>
</div>