#main-container {
    height: 500px;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0, .5)), url("/img/espn-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#main-container h1 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}